.sb-green {
    color: #578D3A !important;
}

.sb-blue {
    color: #478FCA !important;
}

.sb-light-blue {
  color: #02AECA !important;
}

.sb-purple {
    color: #9585BF !important;
}

.sb-red {
    color: #9D2422 !important;
}

.sb-orange {
    color: #FF892A !important;
}

.sb-gray {
	color: #ABBAC3 !important;
}

.sb-background-red {
    background: #FFD6D6 !important;
}

.sb-background-orange {
    background: #FFEBD6 !important;
}

.sb-background-blue {
    background: #D6EDFF !important;
}

.sb-background-green {
    background: #D6FFD6 !important;
}

.sb-background-yellow {
    background: #F9FFD6!important;
}